{% extends "main/layout.html" %}
{% load static %}
{% block body %}

    <h2>Create Event</h2>

    <form action="{% url 'create_event' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

{% endblock %}

{% block script %}
<script src="{% static 'main/location_api.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzw6oLgSM7YkqDYEGuyYrp_SSoWvx-IEk&libraries=places"></script>
{% endblock %}