{% extends "main/layout.html" %}
{% load static %}
{% block body %}

    <h2>Create GroupEvent</h2>
    
    <form action="{% url 'create_event_ingroup' group_id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Post" id ="submit_event" class="btn btn-primary">
    </form>

{% endblock %}

{% block script %}
<script src="{% static 'main/location_api.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzw6oLgSM7YkqDYEGuyYrp_SSoWvx-IEk&libraries=places"></script>
{% endblock %}