<div class="container tile">
    {% for event in events %}
    <a href="{% url 'event_profile' event.id %}" class="card">
        {% if event.cover_photo %}
            <img src="{{ event.cover_photo.url }}" class="card-img-top" alt="event_cover_image"> 
        {% endif %}     
        <div class="card-body">
            <h5 class="card-title">{{ event.name | truncatewords:10 }}</h5>
            <p class="card-text">
                <p><small class="text-muted">Location: {{ event.location }}</small></p>
                <p><small class="text-muted">member count {{ event.attendees.count }}</small></p>
            </p>
        </div>
    </a>
    {% empty %}
    <div>No Events</div>
    {% endfor %}   
</div>

