{% load static %}

<div class="event-profilep-box">
    <div class="container">
        <div class="header-info">
            {% if user.is_authenticated and user == event.creator %}
            <button data-delete-id="{{ event.id }}" class="btn btn-danger delete-event-btn">Delete Event</button>
            <a href="{% url 'edit_event' event.id %}" id="edit-btn-{{ event.id }}" class="btn m-2 btn-secondary btn-event-edit" data-edit-id="{{ event.id }}">Edit Event</a>
                {% if event.status == 'Active' %}
                <button id="cancel-btn-{{event.id}}" class="btn m-2 btn-secondary btn-event-cancel cancel" data-cancel-id="{{event.id}}" >Cancel this Event</button>
                {% else %}
                <button id="cancel-btn-{{event.id}}" class="btn m-2 btn-secondary btn-event-cancel reactive" data-cancel-id="{{event.id}}"> Reactive this Event! </button>
                {% endif %}
            <a href="{% url 'manage_event' event.id %}" class="btn m-2 btn-secondary">Manage Event</a>
            {% endif %}
            <h1>{{event.name}}</h1>
            <span id="eventStatus-{{event.id}}">
                {% if event.status == 'Active' %}
                *** Active ***
                {% else %}
                CANCELED!!!!!!!
                {% endif %}
            </span>
            <p>Hosted by 
            {% for host in event.hosts.all %}
                {% if host.profile_photo %}
                    <img class="organizer-avatar" src="{{host.profile_photo.url}}" alt="organizer-avatar"> 
                {% endif %}
                    <span>{{host.username}}</span>
            {% endfor %}
            </p>
            <div>
                <span>Author : {{event.creator}} </span>
            </div>
            
            {% if user.is_authenticated and user not in event.attendees.all %}
                {% if event.join_mode == "Request" %}
                    {% if request_exists %}
                    <button class="request_button" data-event-id="{{event.id}}" data-is-authenticated="{{ user.is_authenticated }}">Witdraw join Request</button>
                    {% else %}
                    <button class="request_button" data-event-id="{{event.id}}" data-is-authenticated="{{ user.is_authenticated }}">Request to join</button>
                    {% endif %}
                {% else %}
                    <button class="join_button" data-event-id="{{event.id}}" data-is-authenticated="{{ user.is_authenticated }}">Join this event</button>
                {% endif %}
            {% elif user.is_authenticated and user != event.creator %}
                <button class="join_button" data-event-id="{{event.id}}" data-is-authenticated="{{ user.is_authenticated }}">Leave this event</button>
            {% elif not user.is_authenticated %}
                {% if event.join_mode == "Request" %}
                    <button class="request_button" data-event-id="{{event.id}}" data-is-authenticated="{{ user.is_authenticated }}">Request to join</button>
                {% else %}
                    <button class="join_button" data-event-id="{{event.id}}" data-is-authenticated="{{ user.is_authenticated }}">Join this event</button>
                {% endif %}
            {% endif %}
        </div>

        <div class="event-details">
            <div class="row">
                {% if event.cover_photo %}
                    <img class="photo-event-profile" src="{{event.cover_photo.url}}" alt="profile photo">
                {% endif %}
                <div class="col-12 col-md-4">
                    <p><strong>Date:</strong><br>{{event.start_time|date:"l, F j"}}</p>
                </div>
                <div class="col-12 col-md-4">
                    <p><strong>Time:</strong><br>{{ event.start_time|time:"h:i A" }} to {{ event.end_time|time:"h:i A" }} PST</p>
                </div>
                <div class="col-12 col-md-4">
                    <p><strong>Location:</strong><br>{{event.location}}</p>
                </div>
                <div class="col-12 col-md-4">
                    <p>Atendees: <span data-members-id="{{event.id}}" class="attendee_count btn-info view-members-btn">{{ group.members.count }}</span></p>
                </div>
                <div id="popup-overlay" onclick="hidePopup()" style="display: none;"></div>
                    <div id="members-popup" style="display: none;">
                    <ul id="members-list">
                    </ul>
                </div>

                <div class="event-description">
                    Description: {{ event.description }}
                </div>
            </div>
        </div>
    </div>

{% block script %}
<script src="{% static 'event/profile.js' %}"></script>
{% endblock %} 
