<div class="container">
    {% for group in groups %}
    <a href="{% url 'group_profile' group.id %}" class="card item">
        {% if group.cover_photo %}
            <img src="{{ group.cover_photo.url }}" class="card-img-top" alt="group_cover_image"> 
        {% endif %}     
        <div class="card-body">
            <h5 class="card-title">{{ group.name | truncatewords:10 }}</h5>
            <p class="card-text">
                <p><small class="text-muted">Location: {{ group.location }}</small></p>
                <p><small class="text-muted">member count {{ group.members.count }}</small></p>
            </p>
        </div>
    </a>
    {% empty %}
    <div>No Groups</div>
    {% endfor %}   
</div>
