{% extends "main/layout.html" %}
{% load static %}

{% block head %}
<link href="{% static 'group/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if group.cover_photo %}
        <img src="{{ group.cover_photo.url }}" alt="group photo">
    {% endif %}

    <h1>{{ group.name }}</h1>
    <p>Description: {{ group.description }}</p>
    <p>Location: {{ group.location }}</p>
    <p>Visibility: {{ group.visibility }}</p>
    <p>Join Mode: {{ group.join_mode }}</p>
    <p>Capacity: {{ group.capacity }}</p>
    <p>Created At: {{ group.created_at }}</p>
    <p>Created By: {{ group.creator }}</p>
    <p> Admins: 
        {% for admin in group.admins.all %}
            {{ admin.username }},
        {% endfor %}
    </p>
    <p data-members-id="{{group.id}}" class ="view-members-btn"> Members: <span  class="member_count">{{ group.members.count }}</span></p>
        <div id="popup-overlay" onclick="hidePopup()" style="display: none;"></div>
        <div id="members-popup" style="display: none;">
            <ul id="members-list">
            </ul>
        </div>
    <p> Interests: 
        {% for interest in group.interests.all %}
            {{ interest.name }},
        {% endfor %}
    </p>
    
    <div class="d-flex justify-content-center">
        {% if user.is_authenticated %}
            {% if user in group.members.all %}
            <a class="btn btn-secondary m-2" href="{% url 'create_event_ingroup' group.id %}">Create Event</a>
                {% if user is not group.creator %}
                <button class="btn btn-secondary m-2 join_button" data-group-id="{{group.id}}" data-is-authenticated="{{ user.is_authenticated }}">Leave Group</button>
                {% else %}
                <a class="btn btn-danger m-2" href="#">Delete Group</a>
                {% endif %}
                {% if user in group.admins.all %}
                    <a class="btn btn-secondary m-2" href="{% url 'manage_group' group.id %}">Manage Group</a>
                    <a class="btn btn-secondary m-2" href="{% url 'edit_group' group.id %}">Edit Group</a>
                {% endif %}
            {% elif group.join_mode == "Request"%}
                {% if request_exists %}
                    <button class="btn btn-secondary request_button" data-group-id="{{group.id}}" data-is-authenticated="{{ user.is_authenticated }}">Withdraw Request</button>
                {% else %}
                    <button class="btn btn-secondary request_button" data-group-id="{{group.id}}" data-is-authenticated="{{ user.is_authenticated }}">Request to Join</button>
                {% endif %}
            {% else %}
                <button class="btn btn-secondary join_button" data-group-id="{{group.id}}" data-is-authenticated="{{ user.is_authenticated }}">Join Group</button>
            {% endif %}
        {% else %}
            {% if group.join_mode == "Request"%}
            <button class="btn btn-secondary request_button" data-group-id="{{group.id}}" data-is-authenticated="{{ user.is_authenticated }}">Request to Join</button>
            {% else %}
            <button class="btn btn-secondary join_button" data-group-id="{{group.id}}" data-is-authenticated="{{ user.is_authenticated }}">Join Group</button>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'group/profile.js' %}"></script>
{% endblock %}  