@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
html, body {
    height: 100%;
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    background-color: #F8F6F4;
}

@supports not (gap: 1px) {
    body {
      padding-top: 2em;
    }
  
    body::before {
      content: "Your browser doesn't support gap property";
      display: block;
      color: #e43;
      font-weight: bold;
      position: fixed;
      top: 1.5em;
      left: 0;
      right: 0;
      z-index: 1;
      text-align: center;
    }
}
  

#sidebar {
    padding-left: 12px;
    height: 100vh;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
    background-color: #b1e7e7;
    border-radius: 12px;
    box-shadow: 2px 2px 3px rgb(198, 225, 234);
}

.search-box, .brand-box {
    text-align:center
}

.navbar-brand {
    color:black;
}

.search{
    width: 90%;
}

#sidebar ul li a {
    text-align: left;
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-radius: 6px;
    color:rgb(0, 0, 0);
}
.nav-item {
    border-radius: 12px;
    transition: all ease-in-out .1s;
}
.nav-item:hover {
    background-color: rgb(198, 225, 234);
    transform: scale(1.014);
}

#main {
    width: calc(100% - 150px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.main-content {
    max-width: 1100px;
    margin: auto;
}

.search-group {
    border: 3px solid aquamarine;
}

.search-event {
    border: 3px solid blue;
}

#popup-overlay, #popup-overlay-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

#members-popup , #photo-form-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001;
    max-height: 80%;
    width: 50%;
    overflow-y: auto;
}