@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
html, body {
    height: 100%;
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    background-color: #F8F6F4;
}

h2 {
    text-align: center;
}

i {
    margin-left: 8px;
    margin-right: 8px;
}

#sidebar {
    padding-left: 12px;
    height: 100vh;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
    background-color: #b1e7e7;
    border-radius: 12px;
    box-shadow: 2px 2px 3px rgb(198, 225, 234);
}

#sidebar ul li a {
    text-align: left;
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-radius: 6px;
    color:rgb(0, 0, 0);
}

#sidebar .nav-item {
    border-radius: 12px;
    transition: all ease-in-out .1s;
}

#sidebar .nav-item:hover {
    background-color: rgb(198, 225, 234);
    transform: scale(1.014);
}

#main {
    width: calc(100% - 150px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.main-content {
    max-width: 1100px;
    margin: auto;
}

.search-nav {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

/* Dropdowns */
.dropdown {
    border: none;
    background: transparent;
}

.dropdown:focus { 
    outline: none; 
}

/* Search Box */
.search-box {
    --height: 3em;
    display: flex;
    margin: auto;
    height: var(--height);
    background-color: white;
    border: 3px solid black;
    border-radius: var(--height);
    box-sizing: content-box;
}

.search-box-input, 
.search-box-button {
    height: var(--height);
    border: none;
    background: none;
    outline: 0;
}

.search-box-input:focus, 
.search-box-button:focus { 
    outline: none; 
}

.search-box-input {
    width: 200px;
    font-size: 1.2em;
    color: black;
    padding-left: 0.8em;
    padding-bottom: 0.5em;
}

.search-box-button {
    width: var(--height);
    border-radius: var(--height);
    background-color: black;
    margin-right: -1px;
}

.fa-magnifying-glass {
    margin: auto;
    color: #fff;
}

/* Event/Group Toggle */
.switch-button {
    background: black;
    border-radius: 30px;
    overflow: hidden;
    width: 240px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: #21a9a9;
    position: relative;
    padding-right: 120px;
    position: relative;
}
  
.switch-button:before {
    content: "GROUPS";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
}
  
  .switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
  
  .switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(120px);
    transition: transform 300ms linear;
  }
  
  .switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 15px 0;
    display: block;
    user-select: none;
    pointer-events: none;
  }

  .switch-button-label {
    margin-bottom: 0;
  }
  
  .switch-button-checkbox + .switch-button-label:before {
    content: "";
    background: white;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
  }
  
  .switch-button-label-span {
    position: relative;
  }

.title {
    padding-top: 1em;
}

#popup-overlay, #popup-overlay-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

#members-popup , #photo-form-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001;
    max-height: 80%;
    width: 50%;
    overflow-y: auto;
}