@media (max-width: 75em) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 55em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 35em) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

#photos_carousel, #carousel-inner {
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth; 
}

#carousel-inner img{
  height: 150px;
  width: calc((100% - 30px)/4);
  object-fit: cover;
  margin-left: 5px;
  margin-bottom: 10px;
}

#carousel-inner img:first-child{
  margin-left: 0px;
}

#photos_carousel span {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}

#photos_carousel span:first-child {
  left: 1px;
  top: 70px;
}

#photos_carousel span:last-child {
  right: 1px;
  top: 70px;
}

.form-img {
  width: 100%;
  object-fit: cover;
}