option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: GatherRing.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: GatherRing.settings
    PYTHONPATH: "/opt/python/current/app/GatherRing:$PYTHONPATH"
    ALLOWED_HOSTS: ['gatherring-test.eba-vjnspjym.us-west-2.elasticbeanstalk.com']
container_commands:
  01_migrate:
    command: 
      - 'python manage.py makemigrations'
      - 'python manage.py migrate'

