{% extends "main/layout.html" %}
{% load static %}

{% block head %}
<link href="{% static 'main/tile_style.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<nav class="search-nav">
    <input type="text" id="location"/>
    <input type="hidden" id="location-lat"/>
    <input type="hidden" id="location-lng"/>
    <select class="dropdown" id="distanceDropdown" aria-expanded="false">
        <option class="dropdown-item" value="any">Any Distance</option>
        <option class="dropdown-item" value="2">2 miles</option>
        <option class="dropdown-item" value="5">5 miles</option>
        <option class="dropdown-item" value="10">10 miles</option>
        <option class="dropdown-item" value="25">25 miles</option>
        <option class="dropdown-item" value="custom">Custom</option>
    </select>
    <select class="dropdown" id="dateDropdown" aria-expanded="false">
        <option class="dropdown-item" value="any">Any Day</option>
        <option class="dropdown-item" value="today">Today</option>
        <option class="dropdown-item" value="tomorrow">Tomorrow</option>
        <option class="dropdown-item" value="week">This week</option>    
        <option class="dropdown-item" value="weekend">This weekend</option>
        <option class="dropdown-item" value="custom">Custom</option>
    </select>
    <select class="dropdown" id="categoryDropdown" aria-expanded="false">
        <option class="dropdown-item" value="any">Any Category</option>
        {% for category in categories %}
        <option class="dropdown-item" value="{{category.id}}">{{category}}</option>
        {% endfor %}
    </select>

        <div class="search-box">
            <input class="search-box-input" type="text" name="q" />
            <button class="search-box-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    <div class="switch-button">
        <input class="switch-button-checkbox search-type" type="checkbox"/>
        <label class="switch-button-label" for="">
            <span class="switch-button-label-span">EVENTS</span>
        </label>
    </div>
</nav>

<h2 class="title">Upcoming Events!</h2>
<hr>
<div id="eventList">
    {% include "main/search_result.html" with list=list %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'main/search-nav.js' %}"></script>
<script src="{% static 'main/location_api.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzw6oLgSM7YkqDYEGuyYrp_SSoWvx-IEk&libraries=places"></script>
{% endblock %}  